:root {
  --primary-color: #dad7cd;
  --secondary-color: #a3b18a;
  --light-text-color: #588157;
  --dark-text-color: #3a5a40;
  --header-color: #344e41;
  /* --footer-color: #293d33  ; */
  --footer-color: #18241e;
  /* --background-color: #fefae0; */
  --background-color: #ede8c7;
  --background-color-2: #222326;
}
