.experience-card {
  background-color: var(--card-background);
  color: var(--text-color);
  height: 18rem;
  width: 75rem;
  margin: 3.5rem;
  border-radius: 15px;
  display: flex;
  padding: 1rem 2rem;
  font-size: 2rem;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.experience-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.experience-name {
  text-decoration: underline;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.experience-description {
  font-size: 1.5rem;
}

.experience-image-container {
  width: 30%;
}

.experience-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .experience-card {
    width: 45rem;
    height: 35rem;
    flex-direction: column;
  }

  .experience-text {
    width: 100%;
    height: 50%;
    text-align: center;
    justify-content: space-around;
  }

  .experience-name {
    font-size: 1.75rem;
    flex-direction: row;
    justify-content: center;
  }

  .experience-description {
    font-size: 1.25rem;
  }

  .experience-image-container {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 700px) {
  .experience-card {
    width: 20rem;
    height: fit-content;
    flex-direction: column;
  }

  .experience-text {
    width: 100%;
    height: 50%;
    text-align: center;
    justify-content: space-around;
  }

  .experience-name {
    font-size: 1.15rem;
    flex-direction: column;
  }

  .experience-hyphen {
    display: none;
  }

  .experience-description {
    font-size: 1rem;
  }

  .experience-image-container {
    width: 100%;
    height: 50%;
  }
}
