.experience-button-container {
    margin-top: 1.25rem;
}

.experience-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 8rem;
    font-size: 1.5rem;
    background-color: var(--primary);
    color: var(--background);
    border: 0.2rem solid var(--background);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.experience-button:hover {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--text);
    transition: 0.5s;
}

@media (max-width: 1200px) {
    .experience-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .experience-button {
        width: 15rem;
    }
}