.footer {
  background-color: rgba(22, 23, 23, 1);
  color: lightgray;
  font-size: 1.5rem;
  min-height: 20vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  border-top: 8px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    rgb(200, 150, 150),
    transparent
  );
  border-image-slice: 1;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer a {
  color: lightgray;
  display: flex;
  flex-direction: row;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resume-button {
  transition: transform 0.5s;
}

.resume-button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}



@media (max-width: 1200px) {
  .footer {
    font-size: 1rem;
    gap: 5rem;
  }
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  .footer-links {
    flex-direction: row;
    gap: 0;
  }

  .footer-links p {
    display: none;
  }

  .email p {
    display: flex;
  }
}
