.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--page-background); */
  color: var(--text-color);
  padding-top: 5rem;
  min-height: 80vh;
  width: 100%;
}

.greeting {
  font-size: 5rem;
  margin-top: 18rem;
}

.description {
  font-size: 1.5rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.project-header {
  font-size: 3.5rem;
  margin-top: 20rem;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .greeting {
    text-align: center;
  }

  .description {
    max-width: 35rem;
    text-align: center;
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .greeting {
    text-align: center;
  }

  .description {
    max-width: 20rem;
    text-align: center;
    margin-top: 1rem;
  }
}

/* Squares */
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg) scale(1);
		opacity: 0;
		border-radius: 25%;
	}
	50% {
		opacity: 0.5;
    transform: translateY(50vh) rotate(360deg) scale(1.5);
	}
	100% {
		transform: translateY(100vh) rotate(720deg) scale(0.5);;
		opacity: 0;
		border-radius: 45%;
	}
}

.background {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: -1;
}

.background li {
	position: absolute;
	display: block;
	list-style: none;
	opacity: 0;
	background: rgba(206, 206, 205, 0.5);
	animation: animate 15s linear infinite;
} 

.background li:nth-child(1) {
	left: 83%;
	width: 25px;
	height: 25px;
	animation-delay: 1s;
}
.background li:nth-child(2) {
	left: 5%;
	width: 69px;
	height: 69px;
	animation-delay: 1s;
}
.background li:nth-child(3) {
	left: 78%;
	width: 101px;
	height: 101px;
	animation-delay: 11s;
}
.background li:nth-child(4) {
	left: 69%;
	width: 56px;
	height: 56px;
	animation-delay: 5s;
}
.background li:nth-child(5) {
	left: 12%;
	width: 75px;
	height: 75px;
	animation-delay: 8s;
}

