.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 15rem 0 0;
}

.home-text h1{
    font-size: 5rem;
}

.home-text body {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .home-container {
        gap: 0;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-text body {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .home-container {
        flex-direction: column;
    }

    .home-text {
        text-align: center;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-text body {
        font-size: 1rem;
    }

    .home-container img {
        width: 100%;
        height: 100%;

    }

}
