.navbar {
  display: flex;
  justify-content: center;
  gap: 50%;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 8%;
  font-weight: bold;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  color: white;
}

.navbar-header {
  width: auto;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style-type: none;
}

.navbar-link {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}