.navbar {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-header {
  /* background-color: blue; */
  width: auto;
}

.navbar-links {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style-type: none;
}

/* .navbar-links ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
} */
