.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(187, 187, 187);
    background-color: rgb(20, 20, 20, 0.975);
    border-top: 8px solid;
    border-image: linear-gradient(to right, transparent, rgb(150, 180, 200), transparent);
    border-image-slice: 1;
    padding: 0 15%;
}

.projects-container-header {
    font-size: 4rem;
    color: rgb(150, 180, 200);
    text-align: center;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding-bottom: 5rem;
}
