.project-button-container {
    margin-top: 1.25rem;
}

.project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 5rem;
    font-size: 1.5rem;
    background-color: var(--button-background);
    color: var(--text);
    border: 0.2rem solid var(--text);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.project-button:hover {
    background-color: rgb(37, 37, 37);
    color: var(--text);
    border: 2px solid rgb(37, 37, 37);
    transition: 0.5s;
}

@media (max-width: 1200px) {
    .project-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-button {
        width: 15rem;
    }
}