.project-card {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
  height: 15rem;
  width: 75rem;
  margin: 3.5rem;
  border-radius: 15px;
  display: flex;
  padding: 1rem;
  font-size: 2rem;
  flex-direction: row;
  /* background-image: linear-gradient(45deg, #57504d, #393433); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.project-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.project-name {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 1.5rem;
}

.project-image-container {
  width: 30%;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .project-card {
    width: 45rem;
    height: 25rem;
    flex-direction: column;
  }

  .project-text {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .project-description {
    font-size: 1.35rem;
  }

  .project-image-container {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 700px) {
  .project-card {
    width: 20rem;
    height: 25rem;
    flex-direction: column;
  }

  .project-text {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .project-description {
    font-size: 1rem;
  }

  .project-image-container {
    width: 100%;
    height: 50%;
  }
}
